
*{
    margin:0px;
    padding: 0px;
}

#netBackground
{
    width:100vw;
    height:100vh;
    overflow: hidden;
    box-sizing: border-box;
}

#content{
    position: fixed;
    width:100vw;
    height:100vh;
    overflow: auto;
    box-sizing: border-box;
    top:0px;
    left:0px;
}

.logo{
    margin-top:100px;
    margin:auto;
    width:100px;

}

.subtext{
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 20px;
    font-weight: 200;
}

.subtext2{
   
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 7px;
}

.f-text{
    text-transform: uppercase;
    font-size: 60px;
    margin: 10px;
    letter-spacing: 10px;
    margin-bottom: 50px;
    font-family: 'Girassol', sans-serif;

}


 
  @media (max-width:480px) {

    
    #content{
        margin-top: 300px;
    }

    .logo{
        margin-top: 400px;
    }

    .subtext{
        font-size:15px;
        letter-spacing: 10px;
        margin-bottom: 100px;
    }

    .subtext2{
        font-size: 10px;
    }
    

  
}


.fallback{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
     background: -moz-linear-gradient(to top, #2C5364, #203A43, #0F2027);   
}

.join-team{
    
    width:20%;
    height: 2.5em;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
    padding:auto;
    margin:auto;
}

.join-team:hover{
    color:white;
    background-color: black;
}



@keyframes heartBeat {
    0% {
      transform: scale(1);
    }
  
    14% {
      transform: scale(1.1);
    }
  
    28% {
      transform: scale(1);
    }
  
    42% {
      transform: scale(1.1);
    }
  
    70% {
      transform: scale(1);
    }
  }
  
  .heartBeat {
    animation-name: heartBeat;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
